* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F2F2F2 ;
    backdrop-filter: blur(15px);
}

.wrapper-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
}

.header-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form img {
    width: 15vw;
}

.login-form {
    height: 180px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form form input {
    margin-bottom: 20px;
    height: 35px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
}

.login-form form button {
    margin-bottom: 20px;
    height: 35px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.login-form form button:hover {
    background-color: #c2c2c2;
}

/* Estilos para o contêiner do formulário no rodapé */
.footer-form {
    text-align: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form a {
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    text-decoration: none; 
    color: #000;
    background-color: #f0f0f0; /* Cor de fundo */
    border: 1px solid #c2c2c2;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.footer-form a:hover {
    background-color: #C2C2C2;
}